name: Build Plugins

on: 
  push:
    paths:
      - src/**
  workflow_dispatch:
  schedule:
    - cron: '0 0 1 */3 *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '10.0.x'

      - name: Clone
        uses: actions/checkout@v2

      - name: Build
        run: dotnet publish -c Release src
          
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: Artemis.Plugins.Devices.Nanoleaf
          path: src/Artemis.Plugins.Devices.Nanoleaf/bin/x64/Release/net10.0/publish

      - name: Install Plugin Uploader
        run: dotnet tool install ArtemisRGB.Tools.PluginUploader --global

      - name: Upload
        if: github.ref == 'refs/heads/mein'
        run: artemis-plugin-uploader upload-all --pat ${{ secrets.WORKSHOP_PAT }} --folder src/Artemis.Plugins.Devices.Nanoleaf/bin/x64/Release/net10.0/publish
